<%layout('../views/layouts/boilerplate') %>

    <div class="min-vh-100 d-flex flex-column text-center " >
    <h1>Paint Picture</h1>
<div id = "container" class="d-flex align-items-start justify-content-center gap-4 ">
        <div id = "toolscontainer" >
            <p>Tools</p>
            <div id = "tools">
                <button value="freedraw" class = "tool btn btn-light">Free Draw</button>
                <button value="line" class = "tool btn btn-light">Line</button>
                <button value="rect" class = "tool btn btn-light">Rectangle</button>
                
                
            </div>
            <div id="options" >
            <button value="reset"  id ="resetbutton" class ="btn btn-light">Reset</button>
            <label for="canvassize">Change canvas size:</label>
            <select name="canvassize" id="canvassize">
                <option value = "500" selected >500</option>
                <option value = "600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
                <option value="900">900</option>
                <option value="1000">1000</option>
            </select>
            <label for="thickness">Brush size: <span id="brushsize">5</span></label>
            <input id= "thickness" name = "thickness" type="range" min ="1" max="25">
        </div>
        </div>
    <canvas id = "canvas" width="500px" height="500px" class="bg-light">
    
    </canvas>
    <div id = "colorpickercontainer">
        <p>Color Picker</p>
    <div id ="colorpicker">
        
        <label for="red">Red:</label>
        <input type="range" id = "red" class = "slider"  max = '255' name = "red" >
        <input type="number" class = "number" id = "redvalue" >
        <label for="green">Green:</label>
        <input type="range" id = "green" class = "slider"  max = "255" name = "green" >
        <input type="number"  class = "number" id = "greenvalue" >
        <label for="blue">Blue:</label>
        <input type="range" id = "blue" class = "slider"  max = "255" name = "blue" >
        <input type="number"  class = "number" id = "bluevalue" >
        <label for="alpha">Alpha:</label>
        <input type="range" id = "alpha"  class = "slider"  max = "1" step = "0.01"name = "alpha" >
        <input type="number" class = "number" id = "alphavalue" min = "0" max="1" step="0.01" >
        
    </div>
    <div id ="colorpreview" style="width: 200px; height: 200px;"></div>
    </div>
    
    </div>
    </div>
<script src="/javascripts/canvas.js" defer></script>